<p>listar-operador works!</p>
<section id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-cog"></i>Operador
                </h1>
            </div>
        </div>
    </div>
</section>

<button class="btn btn-primary" routerLink="/crearOperador">nuevo</button>

<div class="row justify-content-center">
    <div class="col-md-9" style="text-align: center" ng-show="mostrarListaOperador">
        <div class="card">
            <div class="card-header">
                <h4>Listado Operadores</h4>
                <a routerLink="/crearOperador" class="nav-link active btn btn-dark" type="button"
                   role="button">NUEVO</a>
            </div>
            <div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="operador in operadores">
                        <!-- <td ng-hide="true">{{operador.id}}</td>
                        <td>{{operador.nombre + ' ' + operador.apellido}}</td>
                        <td>{{operador.cargo}}</td> -->
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button class="btn btn-secondary" ng-click="mostrarFormActualizar(operador)"
                                        type="button" role="button">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                                <a class="btn btn-danger" ng-click="abrirModal(operador.id)">
                                    <i class="fas fa-trash"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <h5 ng-if="operadores.length==0">No hay items para mostrar</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3" ng-show="mostrarListaOperador">
        <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
                <h3>Total Operadores</h3>
                <h4 class="display-4">
                    <!-- <i class="fas fa-users"></i> {{operadores.length}} -->
                </h4>
            </div>
        </div>
    </div>
</div>
